<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content="<%= csrfToken %>" />

  <title>Users</title>

  <link rel="stylesheet" href="https://v5.getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" />
</head>

<body>
  <div class="">
    <h3>Table of Users</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Image Processed</th>
          <th scope="col">Total Byte</th>
          <th scope="col">Total Byte Save</th>
          <th scope="col">Percentage</th>
          <th scope="col">Created At</th>
          <th scope="col">Last Login At</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user, index){ %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= user.username %><small class="d-block text-muted"><%= user.token %></small></td>
          <td><%= user.stat.processed %></td>
          <td><%= user.stat.byteTotal %></td>
          <td><%= user.stat.byteSaveTotal %></td>
          <td><%= user.stat.percentage | 0 %>%</td>
          <td class="update-time" data-date="<%= user.createdAt %>">
            <%= user.createdAt %>
          </td>
          <td class="update-time" data-date="<%= user.lastLoginAt %>">
            <%= user.lastLoginAt %>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <script src="https://unpkg.com/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://v5.getbootstrap.com/docs/5.0/dist/js/bootstrap.min.js"></script>
  <script>
    var elements = document.querySelectorAll(".update-time");

    elements.forEach(function (element) {
      var date = new Date(element.getAttribute("data-date"));

      element.innerHTML = (date.toLocaleDateString() + " " + date.toLocaleTimeString());
    })
  </script>
</body>

</html>